<div id ='container'>
<p id='question'>Ask your coach anything</p>
<form id = 'form' action="/answer" method='get'>
  <input id='input' type="text" name="question">
  <input id='btn' type="submit" value="Ask!">
</form>
</div>
